certifi==2021.5.30
charset-normalizer==2.0.6
idna==3.2
pygame==2.0.1
pynput==1.7.3
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Quartz==7.3
requests==2.26.0
six==1.16.0
urllib3==1.26.7
